.npmrc
/.plans/
/.retool-cli-trash/
/.retool/
/backend/dist/
/backend/resources/
/build/
/dist/
/frontend/build/
/frontend/dist/
/frontend/hooks/backend/
/frontend/lib/shadcn/
/frontend/queries/
backend/user.d.ts
frontend/.npmrc
frontend/.pnpmfile.cjs
frontend/components/RetoolAuthGate.tsx
frontend/darkMode.ts
frontend/hooks/backend.ts
frontend/hooks/consumeExecuteStream.ts
frontend/hooks/iframeHostedMode.ts
frontend/hooks/postMessageRpc.ts
frontend/hooks/publishedMetricsClient.ts
frontend/hooks/useBackendFunction.ts
frontend/hooks/useBackendFunctions.ts
frontend/hooks/useCurrentUser.ts
frontend/hooks/useRetoolAuth.tsx
frontend/hooks/xsrfUtils.ts
frontend/index.html
frontend/index.tsx
frontend/inspectorOverlay.ts
frontend/lib/dbcsTransform.js
frontend/postcss.config.ts
frontend/publishedPerfBootstrap.ts
frontend/tailwind.config.ts
frontend/tailwind.css
frontend/tsconfig.json
frontend/vite-env.d.ts
logs/session-log.ndjson
node_modules
.retool/registry.md
.retool/theme-instructions.md
.userInput/askUser.d.ts
.userInput/attachRESTAPISpec.d.ts
.userInput/connectResources.d.ts
.userInput/restApiRequestDetails.d.ts
backend/resources/ai/anthropic/_client.d.ts
backend/resources/ai/anthropic/_types.d.ts
backend/resources/ai/anthropic/anthropic.d.ts
backend/resources/ai/openAIProvider/_client.d.ts
backend/resources/ai/openAIProvider/_types.d.ts
backend/resources/ai/openAIProvider/openai.d.ts
backend/resources/asana/sdf.d.ts
backend/resources/asana/spec-f9f60506d929/_client.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_attachments.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_auditLogApi.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_batchApi.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_customFieldSettings.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_customFields.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_events.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_goalRelationships.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_goals.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_jobs.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_organizationExports.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_portfolioMemberships.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_portfolios.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_projectBriefs.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_projectMemberships.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_projectStatuses.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_projectTemplates.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_projects.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_sections.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_statusUpdates.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_stories.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_tags.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_tasks.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_teamMemberships.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_teams.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_timePeriods.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_typeahead.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_userTaskLists.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_users.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_webhooks.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_workspaceMemberships.d.ts
backend/resources/asana/spec-f9f60506d929/groups/_workspaces.d.ts
backend/resources/firebase/_client.d.ts
backend/resources/firebase/_types.d.ts
backend/resources/firebase/wattersonCrosswordStats.d.ts
backend/resources/googleDocs/awcomGoogleDocs.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/_client.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/docsApi/groups/_documents.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_about.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_accessproposals.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_apps.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_changes.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_channels.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_comments.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_drives.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_files.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_operations.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_permissions.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_replies.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_revisions.d.ts
backend/resources/googleDocs/spec-8ec71d498c6d/driveApi/groups/_teamdrives.d.ts
backend/resources/googlesheets/_client.d.ts
backend/resources/googlesheets/_types.d.ts
backend/resources/googlesheets/awcomGoogleSheets.d.ts
backend/resources/mongodb/_client.d.ts
backend/resources/mongodb/_types.d.ts
backend/resources/mongodb/mongoTest.d.ts
backend/resources/restapi/samsaraApi/_client.d.ts
backend/resources/restapi/samsaraApi/index.d.ts
backend/resources/retoolStorage/_client.d.ts
backend/resources/retoolStorage/_types.d.ts
backend/resources/retoolStorage/retoolStorage.d.ts
backend/resources/retoolrpc/rpcTest.d.ts
backend/resources/smtp/_client.d.ts
backend/resources/smtp/_types.d.ts
backend/resources/smtp/myGreatSmtp.d.ts
backend/resources/smtp/retoolEmail.d.ts
backend/resources/sql/_types.d.ts
backend/resources/sql/jdbc/jdbcTest.d.ts
backend/resources/sql/mssql/testMssql.d.ts
backend/resources/sql/mysql/awcomMysql.d.ts
backend/resources/sql/retoolDb/retoolDb.d.ts
backend/resources/workflows/_client.d.ts
backend/resources/workflows/andrewWattersonSupportResponseTimeReport14835Pm.d.ts
backend/resources/workflows/myFirstWorkflowAndrewWatterson.d.ts
frontend/hooks/backend/inventory.ts
frontend/lib/shadcn/accordion.tsx
frontend/lib/shadcn/alert-dialog.tsx
frontend/lib/shadcn/alert.tsx
frontend/lib/shadcn/aspect-ratio.tsx
frontend/lib/shadcn/avatar.tsx
frontend/lib/shadcn/badge.tsx
frontend/lib/shadcn/breadcrumb.tsx
frontend/lib/shadcn/button-group.tsx
frontend/lib/shadcn/button.tsx
frontend/lib/shadcn/card.tsx
frontend/lib/shadcn/carousel.tsx
frontend/lib/shadcn/checkbox.tsx
frontend/lib/shadcn/collapsible.tsx
frontend/lib/shadcn/combobox.tsx
frontend/lib/shadcn/command.tsx
frontend/lib/shadcn/context-menu.tsx
frontend/lib/shadcn/dialog.tsx
frontend/lib/shadcn/direction.tsx
frontend/lib/shadcn/drawer.tsx
frontend/lib/shadcn/dropdown-menu.tsx
frontend/lib/shadcn/empty.tsx
frontend/lib/shadcn/field.tsx
frontend/lib/shadcn/hover-card.tsx
frontend/lib/shadcn/input-group.tsx
frontend/lib/shadcn/input-otp.tsx
frontend/lib/shadcn/input.tsx
frontend/lib/shadcn/item.tsx
frontend/lib/shadcn/kbd.tsx
frontend/lib/shadcn/label.tsx
frontend/lib/shadcn/menubar.tsx
frontend/lib/shadcn/native-select.tsx
frontend/lib/shadcn/navigation-menu.tsx
frontend/lib/shadcn/pagination.tsx
frontend/lib/shadcn/popover.tsx
frontend/lib/shadcn/progress.tsx
frontend/lib/shadcn/radio-group.tsx
frontend/lib/shadcn/resizable.tsx
frontend/lib/shadcn/scroll-area.tsx
frontend/lib/shadcn/select.tsx
frontend/lib/shadcn/separator.tsx
frontend/lib/shadcn/sheet.tsx
frontend/lib/shadcn/skeleton.tsx
frontend/lib/shadcn/slider.tsx
frontend/lib/shadcn/sonner.tsx
frontend/lib/shadcn/spinner.tsx
frontend/lib/shadcn/switch.tsx
frontend/lib/shadcn/table.tsx
frontend/lib/shadcn/tabs.tsx
frontend/lib/shadcn/textarea.tsx
frontend/lib/shadcn/toggle-group.tsx
frontend/lib/shadcn/toggle.tsx
frontend/lib/shadcn/tooltip.tsx
frontend/lib/shadcn/typography.tsx
frontend/lib/shadcn/utils.ts
.gitignore
